/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
body.large-footer {
  margin-bottom: 230px;
}
body.large-footer #footer {
  height: 210px;
}
body.small-footer {
  margin-bottom: 140px;
}
body.small-footer #footer {
  height: 120px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  padding: 0 15px;
}
.container p {
  margin: 20px 0;
}

.container.theme-showcase{
  margin-top:220px;
}


#contactsheet h4{
  margin: 20px 0 10px 0;
  padding: 10px 5px;
  background-color: gray;
  color: white;
}


.casefile .panel-body{
  display:none;
}

.casefile h4{
  border-bottom:1px solid gray;
  padding-bottom: 5px;
  padding-top: 10px;
}

.casefile h3.panel-title{
  text-decoration: underline;
  color: blue;
}

.casefile .panel-title:hover, .dcfdelete .delete:hover{
  cursor: pointer;
}

#defendant .dob input{
  min-width:1em;
  width:15%;
  display:inline-block
}

#fixed-header{
  position: fixed;
  left: 40px;
  right: 40px;
  top: 40px;
  background-color: white;
  z-index: 1000;
  border-bottom: 2px solid lightgray;
}


.ng-table {

}
.dashboard, .disclaimer{
  margin-top:-150px;
}
.ng-table-counts{
  margin: 20px 0;
}


#aside{
  max-width: 300px;
  width:200px;
  position:fixed;
}

#aside li{
  /*color: gray;
  text-decoration: underline;*/
}

#aside li:hover{
  /*cursor: pointer;*/
}

#aside ul{
  padding-left: 20px;
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 991px) {
  #fixed-header {

    left: 0;
    right: 0;
    top: 40px;
    background-color: white;
    z-index: 1000;
    border-bottom: 2px solid lightgray;
}
  #aside{
    display: none;
  }
  .container.theme-showcase{
    margin-top:240px;
  }
}
