<div class="casefile" collapse>
  <header>
    <h1>Casefile</h1>
  </header>

  <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>URN</th>
          <th>Date created</th>
          <th>Last updated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ casefile.id }}</th>
          <td>{{ casefile.urn_code }}</td>
          <td>{{ casefile.created_at | date:'medium' }}</td>
          <td>{{ casefile.updated_at | date:'medium' }}</td>
        </tr><!-- end ngRepeat: row in data -->

      </tbody>
    </table>

  <h4>Pre-Questions</h4>
  <precis data="casefile.blob.precis" urncode="casefile.urn_code" store="saveCtrl({precis: precis})"></precis>
  <defendant data="casefile.blob.defendant" store="saveCtrl({defendant: defendant})"></defendant>

  <h4>The Offence</h4>
  <offence data="casefile.blob.offence" store="saveCtrl({offence: offence})"></offence>

  <h4>Retail Theft</h4>
  <interview data="casefile.blob.interview" store="saveCtrl({interview: interview})"></interview>
  <mme data="casefile.blob.mme" store="saveCtrl({mme: mme})"></mme>
  <witness data="casefile.blob.witness" store="saveCtrl({witness: witness})"></witness>
  <compensation data="casefile.blob.compensation" store="saveCtrl({compensation: compensation})"></compensation>
  <courtorder data="casefile.blob.courtorder" store="saveCtrl({courtorder: courtorder})"></courtorder>

  <h4>Case Review</h4>
  <disclosure data="casefile.blob.disclosure" store="saveCtrl({disclosure: disclosure})"></disclosure>

  <h4>Sign-off</h4>
  <signoff data="casefile.blob.signoff" store="saveCtrl({signoff: signoff})"></signoff>


</div>


