<div class="casefile" collapse>
  <header>
    <h1>Casefile</h1>
  </header>

  <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>URN</th>
          <th>Date created</th>
          <th>Last updated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ casefile.id }}</th>
          <td>{{ casefile.urn }}</td>
          <td>{{ casefile.created_at | date:'medium' }}</td>
          <td>{{ casefile.updated_at | date:'medium' }}</td>
        </tr><!-- end ngRepeat: row in data -->

      </tbody>
    </table>

  <precis data="casefile.blob.precis" urn="casefile.urn" store="saveCtrl({precis: precis})"></precis>

  <courtorder data="casefile.blob.courtorder" store="saveCtrl({courtorder: courtorder})"></courtorder>

  <compensation data="casefile.blob.compensation" store="saveCtrl({compensation: compensation})"></compensation>

  <defendant data="casefile.blob.defendant" store="saveCtrl({defendant: defendant})"></defendant>

  <interview data="casefile.blob.interview" store="saveCtrl({interview: interview})"></interview>

  <mme data="casefile.blob.mme" store="saveCtrl({mme: mme})"></mme>

  <disclosure data="casefile.blob.disclosure" store="saveCtrl({disclosure: disclosure})"></disclosure>




</div>


