<div class="dashboard">
  <header>
    <h1>Dashboard</h1>
  </header>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Case Files</div>

    <div id="spinner">
      <img src="images/spinner.gif" alt="">
    </div>

    <!-- Table -->
    <table id="table" class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>URN</th>
          <th>Last update</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr ng-repeat="row in data">
          <th scope="row">{{ row.URN }}</th>
          <td>{{ row.type }}</td>
          <td>{{ row.suspect.fullname }}</td>
          <td><a href="#/casefile/{{ row.URN }}">Edit</a></td>
        </tr> -->
        <tr ng-repeat="row in data">
          <th scope="row">{{ row.id }}</th>
          <td>{{ row.urn }}</td>
          <td>{{ row.updated_at | date:'medium' }}</td>
          <td><a href="#/casefile/{{ row.id }}">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <button ng-click="reloadData()">Reload Data</button>

  <button ng-click="newCasefile()">Create a new casefile</button>

</div>


