<div class="dcfdelete">
  <header>
    <h1>Dashboard</h1>
  </header>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <button ng-click="reloadData()" class="btn btn-default">Reload Data</button>
      <button ng-click="newCasefile()" class="btn btn-primary">Create a new casefile</button>
    </div>

    <!-- Table -->
    <table ng-table="tableParams" show-filter="true" class="table">
      <tr ng-repeat="row in $data">
        <td  width="10%" data-title="'Id'" data-sortable="'id'" filter="{ 'id': 'text' }">
            {{ row.id }}
        </td>
        <td width="50%" data-title="'URN'" data-sortable="'urn'" filter="{ 'urn': 'text' }">
            {{ row.urn }}
        </td>

        <td data-title="'Last updated'" data-sortable="'updated_at'" filter="{ 'updated_at': 'text' }">
            {{ row.updated_at | date:'medium' }}
        </td>
        <td data-title="'Actions'"><a class="delete" ng-click="deleteCasefile(row.id)">DELETE</a></td>
      </tr>
    </table>
  </div>
</div>


