<div class="disclaimer">
  <header>
    <h1>Disclaimer</h1>
  </header>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">PLEASE NOTE</h3>
    </div>

    <div class="panel-body">
      <p>This is not a real product. This is a prototype.</p>
      <p>This is not a real product. This is a prototype.</p>
      <p>This is not a real product. This is a prototype.</p>
      <p>This is not a real product. This is a prototype.</p>
      <p>This is not a real product. This is a prototype.</p>
      <a class="btn btn-default" href="/#/dashboard">Continue</a>
    </div>

  </div>
</div>


