<div class="disclaimer">
  <header>
    <h1>Disclaimer</h1>
  </header>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">PLEASE NOTE</h3>
    </div>

    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sed ut voluptate, quam dolorem beatae ipsa facere mollitia deleniti ducimus temporibus totam recusandae eligendi voluptatem fugiat nobis quaerat, aperiam quia?</p>
      <a class="btn btn-default" href="/#/dashboard">Continue</a>
    </div>

  </div>
</div>


