<div class="disclaimer">
  <header>
    <h1>Disclaimer</h1>
  </header>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">PLEASE NOTE</h3>
    </div>
    <div class="panel-body">
      <p>This pilot tool has been developed for the purpose of front-end user experience testing only. It does not form part of a final implementation.</p>

      <p><b>This application currently has the following limitations:</b></p>

      <ol>
        <li>It is based on <b>Draft 0.7</b> of the Digital Case File Standard.</li>
        <li>It is limited to the following scope:
          <ul>
            <li>Guilty Anticipated Plea (GAP) only</li>
            <li>Retail Theft (TH68010)</li>
            <li>Single Defendant</li>
            <li>Single Offence</li>
            <li>No Case Markers (e.g. Domestic Violence or Hate Crime)</li>
          </ul>
        </li>
        <li>It <b>does not produce output</b> which can be sent downstream to any 3rd party application (i.e Force Case Management System or CPS).</li>
      </ol>


      <a class="btn btn-default" href="/#/dashboard">Continue</a>
    </div>

  </div>
</div>


