<div id="interview" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Interview</h3>
  </div>
  <div class="panel-body">
    <form role="form" ng-submit="store({interview:interview})" name="interviewSection">

      <div class="form-group">
        <label for="interview.was_defendant_interviewed">Was the Defendant Interviewed?</label>
        <div class="jqr-delegate-hook">
          <label class="radio-inline">
            <input type="radio" name="interview.was_defendant_interviewed" class="jqr-publisher" value="yes"
              ng-model="interview.was_defendant_interviewed"
              data-jqr-publish-events="was_defendant_interviewed"
              > Yes
          </label>
          <label class="radio-inline">
            <input type="radio" name="interview.was_defendant_interviewed" class="jqr-publisher" value="no"
              ng-model="interview.was_defendant_interviewed"
              data-jqr-publish-events="was_defendant_interviewed"
              > No
          </label>
        </div>
      </div>


      <div class="jqr-subscriber" style="display:none" data-jqr-subscribe-events="was_defendant_interviewed" data-jqr-subscribe-values="yes">

        <div class="form-group">
          <label for="interview.admissions_made">Summarise briefly the admissions made, defences raised, and any explanation given in interview.</label>
          <div>
            <textarea ng-model="interview.admissions_made" class="form-control" placeholder="Add details here" rows="5"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="interview.mitigating_circumstances">Summarise briefly any mitigating circumstances including any remorse shown.</label>
          <div>
            <textarea ng-model="interview.mitigating_circumstances" class="form-control" placeholder="Add details here" rows="5"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="interview.aggravating_features">Are there any aggravating features in the case?</label>
          <div>
            <textarea ng-model="interview.aggravating_features" class="form-control" placeholder="Add details here" rows="5"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="interview.explanations_made">Are there any explanations made?</label>
          <div>
            <textarea ng-model="interview.explanations_made" class="form-control" placeholder="Add details here" rows="5"></textarea>
          </div>
        </div>



      </div>



      <input type="submit" value="Save" />
    </form>
  </div>
</div>
