<div id="signoff" class="panel panel-info">
  <div class="panel-heading">Sign Off</div>
  <div class="panel-body">
    <form role="form" ng-submit="store({signoff:signoff})" name="signoffSection">

      <div class="form-group">
        <label for="urn">Signatory Name</label>
        <div>
          <input type="text" ng-model="signoff.signatory_name" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="urn">Date</label>
        <div>
          <input type="text" ng-model="signoff.signatory_signature_date" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="urn">Rank</label>
        <div>
          <input type="text" ng-model="signoff.signatory_rank" class="form-control">
        </div>
      </div>


      <input type="submit" value="Save" class="btn btn-success btn-sm" />
    </form>
  </div>
</div>
