<div class="suspect">
  <form role="form">
    <div class="form-group">
      <label for="data.fullname">Suspect</label>
      <input type="text" class="form-control" id="data.fullname" placeholder="Full name" ng-model="data.fullname">
    </div>

    <div class="form-group">
      <label for="name">Date of Birth</label>
      <br />
        <input style="min-width:1em; width:15%; display:inline-block" type="text" class="form-control" placeholder="Day" ng-model="data.dobd" />
        <input style="min-width:1em; width:15%; display:inline-block" type="text" class="form-control" placeholder="Month" ng-model="data.dobm" />
        <input style="min-width:1em; width:15%; display:inline-block" type="text" class="form-control" placeholder="Year" ng-model="data.doby" />
    </div>

    <br />

    <div class="form-group">
      <label for="name">Anticipated Plea</label>
      <select class="form-control">
        <option>Select</option>
        <option>Non-guilty</option>
        <option>Guilty</option>
        <option>Restorative justice</option>
        <option>Fine</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">URN</label>
      <input type="text" class="form-control" id="name" placeholder="Example: 05E24592812" ng-model="data.urn">
    </div>
  </form>
  <!--

  expect which elements
  expect to see data on isolate scope


   -->
</div>
