<div id="suspect" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Suspect Details</h3>
  </div>
  <div class="panel-body">
    <form role="form" ng-submit="store({suspect:suspect})" name="suspectSection">
      <div class="form-group">
        <label for="suspect.fullname">Suspect Fullname</label>
        <input type="text" class="form-control" id="suspect.fullname" placeholder="Full name" ng-model="suspect.fullname">
      </div>

      <div class="form-group dob">
        <label for="name">Date of Birth</label>
        <br />
          <input type="text" class="form-control" placeholder="Day" ng-model="suspect.dobDay" />
          <input type="text" class="form-control" placeholder="Month" ng-model="suspect.dobMonth" />
          <input type="text" class="form-control" placeholder="Year" ng-model="suspect.dobYear" />
      </div>

      <br />

      <div class="form-group">
        <label for="name">Anticipated Plea</label>
        <select class="form-control" ng-model="suspect.plea">
          <option ng-selected="{{plea.value == suspect.plea}}" ng-repeat="plea in pleaOptions" value="{{plea.value}}">
              {{plea.name}}
            </option>
        </select>
      </div>

      <input type="submit" value="Save" />
    </form>
  </div>
</div>
